Package: copylive
Version: 1.0.2
Architecture: all
Maintainer: Robert Key robkey@mighty.co.za
Depends: perl
Section: myown
Priority: optional
Description: copylive.pl builds a live system by copying the cdrom to LINUXLIVE partition
